
@using Web.Helpers
@using Web.ModelViews
@using Web.Models
@model IEnumerable<Web.Models.WorkIssue>

    @{
        ViewBag.Title = "Index";
    }


    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right m-t-15">
                <button type="button" class="btn btn-custom dropdown-toggle waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">Settings <span class="m-l-5"><i class="fa fa-cog"></i></span></button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <h4 class="page-title">Taskboard</h4>
        </div>
    </div>
<div class="row">
    <div class="col-sm-8">
        @Html.Partial("_AddQuickIssueAjax", new WorkIssue())
    </div>
    <div class="col-sm-4">
        <div class="card-box taskboard-box">
            <div class="dropdown pull-right">
                <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
                    <i class="zmdi zmdi-more-vert"></i>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
           
            @Html.Partial("_Welcome")
           
        </div>
    </div><!-- end col -->
</div>
   

    <div class="row">
        <div class="col-sm-4">
        @if (Model != null && Model.GetFromNow() != null && Model.GetFromNow().Count() > 0)
        {
            @Html.Partial("_IssuesNow", Model.ToList().GetFromNow().AsEnumerable())
        }
            
        </div><!-- end col -->

        <div class="col-sm-4">
            @if (Model != null && Model.ToList().GetTomorrow() != null && Model.GetTomorrow().Count() > 0)
            {
                @Html.Partial("_IssuesUpcoming", Model.ToList().GetTomorrow().AsEnumerable())
            }
            
        </div><!-- end col -->
        <div class="col-sm-4">
            @if (Model != null && Model.ToList().GetExpired() != null && Model.GetExpired().Count() > 0)
            {
                @Html.Partial("_IssuesExpired", Model.ToList().GetExpired().AsEnumerable())
            }
            @if (Model != null && Model.ToList().GetDone() != null && Model.GetDone().Count() > 0)
            {
                @Html.Partial("_IssuesCompleted", Model.ToList().GetDone().AsEnumerable())
            }
        </div><!-- end col -->
    </div>
    <!-- end row -->
    <!-- Modal -->
    <div id="custom-modal" class="modal-demo">
        <button type="button" class="close" onclick="Custombox.close();">
            <span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="custom-modal-title">Add New</h4>
        <div class="custom-modal-text text-left">
            <form role="form">
                <div class="form-group">
                    <label for="name">Task Name</label>
                    <input type="text" class="form-control" id="name" placeholder="">
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="assign">Assign to</label>
                            <input type="text" class="form-control" id="assign" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="priority">Priority</label>
                            <input type="text" class="form-control" id="priority" placeholder="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Sdate">Start Date</label>
                            <input type="text" class="form-control" id="Sdate" placeholder="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Ddate">Due Date</label>
                            <input type="text" class="form-control" id="Ddate" placeholder="">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success waves-effect waves-light">Save</button>
                <button type="button" class="btn btn-danger waves-effect waves-light m-l-5">Cancel</button>
            </form>
        </div>
    </div>
