@using Web.Helpers
@model IEnumerable<Web.Models.WorkIssue>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="row">
    <div class="col-md-4">
        <h3>Today (@Model.ToList().GetToday().Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetToday().AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetToday().AsEnumerable())
    </div>
    <div class="col-md-4">
        <h3>Tomorrow (@Model.ToList().GetTomorrow().Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetTomorrow().AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetTomorrow().AsEnumerable())
    </div>
    <div class="col-md-4">
        <h3>Next (@Model.ToList().GetNext(2).Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetNext(2).AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetNext(2).AsEnumerable())
        <hr />
        <h3>Prev (@Model.ToList().GetPrev(2).Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetPrev(2).AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetPrev(2).AsEnumerable())
        <hr />
        <h3>No time: (@Model.ToList().GetNoTime().Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetNoTime().AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetNoTime().AsEnumerable())
        @*<p>
            @foreach (var item in Model)
            {
                if (item.Status == Web.Models.IssueStatus.Done)
                {
                    @Html.Partial("_IssueTitleWithMenuItem", item)
                }
            }
        </p>*@
    </div>
</div>
