@using Web.Helpers
@using Web.ModelViews
@using Web.Models
@model IEnumerable<Web.Models.WorkIssue>

@{
    ViewBag.Title = "Index";
}

 
<div class="row">
    <div class="col-md-7">
        <div class="panel panel-default">
            <div class="panel-heading">
                Today (@Model.ToList().GetNotDone().GetToday().Count())
                <span>
                    @Html.Partial("_IssuesDashboard", Model.ToList().GetNotDone().GetToday().AsEnumerable())
                </span>
            </div>
            <div class="panel-body">
                @{
                    var _objects = Model.ToList().GetToday().GetNotDone().AsEnumerable();

                    var pager = new Pager(_objects.Count(), 0);

                    var viewModel = new IndexIssuesViewModel
                    {
                        Items = _objects.Skip((pager.CurrentPage - 1) * pager.PageSize).Take(pager.PageSize),
                        Pager = pager
                    };

                    @Html.Partial("_IssuesWithPager", viewModel)
                }
            </div>

        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                Today (Hoàn thành) (@Model.ToList().GetToday().GetDone().Count())
                <span>
                    @Html.Partial("_IssuesDashboard", Model.ToList().GetDone().GetToday().AsEnumerable())
                </span>
            </div>
            <div class="panel-body">
                @{
                    var _object2s = Model.ToList().GetToday().GetDone().AsEnumerable();
                    var pager2 = new Pager(_object2s.Count(), 0);

                    var viewModel2 = new IndexIssuesViewModel
                    {
                        Items = _object2s.Skip((pager.CurrentPage - 1) * pager2.PageSize).Take(pager2.PageSize),
                        Pager = pager2
                    };

                    @Html.Partial("_IssuesWithPager", viewModel2)
                }
            </div>
        </div>
    </div>
    

    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>New Issue</h4>
            </div>
            <div class="panel-body">
                @Html.Partial("_QuickCreateIssue", new WorkIssue())
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Tomorrow (@Model.ToList().GetTomorrow().Count())
                <span>
                    @Html.Partial("_IssuesDashboard", Model.ToList().GetTomorrow().AsEnumerable())
                </span>
            </div>
            <div class="panel-body">
                @Html.Partial("_Issues", Model.ToList().GetTomorrow().AsEnumerable())
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <h3>Prev (@Model.ToList().GetNotDone().GetPrev(2).Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetNotDone().GetPrev(2).AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetNotDone().GetPrev(2).AsEnumerable())
        <hr />
    </div>
    <div class="col-md-4">
        <h3>Next (@Model.ToList().GetNotDone().GetNext(2).Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetNext(2).AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetNext(2).AsEnumerable())
        <hr />
        
        <h3>No time: (@Model.ToList().GetNoTime().Count())</h3>
        @Html.Partial("_IssuesDashboard", Model.ToList().GetNoTime().AsEnumerable())
        @Html.Partial("_Issues", Model.ToList().GetNoTime().AsEnumerable())
    </div>
</div>
