@model IEnumerable<Web.Models.WorkIssue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@*@section Scripts {
    <script>
    $('Document').ready(function () {
        $.ajax({
            url: '/Home/GetProducts',
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html'

        })
        .success(function (result) {
            $('#products').html(result);
        })
        .error(function (xhr, status) {
            alert(status);
        })
    });
    </script>

}*@

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.Raw(item.Title)
            @if(item.IsToday())
            {
                @Html.Raw("(Today)")
            }
            @if (item.IsRepeat())
            {
                @Html.Raw("[Repeated]")
            }
        </td>
        <td>
            @Html.Raw(item.Description)
        </td>
        <td>
            @Html.Raw(item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id }) |
            @Html.ActionLink("EmailTo", "EmailTo", new { id = item.Id }) |
            @Html.ActionLink("Mark as Finished", "MarkAsFinished", new { id = item.Id }) |
            @Html.ActionLink("Mark as Done", "MarkAsDone", new { id = item.Id })
        </td>
    </tr>
}

</table>
