<div class="navbar-custom">
    <div class="container">
        <div id="navigation">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="has-submenu">
                    <a href="@Url.Content("~/WorkIssues/Index")"><i class="zmdi zmdi-view-list"></i> <span> Cards </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Projects/Index")"><i class="zmdi zmdi-chart"></i><span> Projects </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Stories/Index")"><i class="zmdi zmdi-collection-item"></i><span> Stories </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Contacts/Index")"><i class="zmdi zmdi-layers"></i><span> Your contacts </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Documents/Index")"><i class="zmdi zmdi-layers"></i><span> Documents </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Questions/Index")"><i class="zmdi zmdi-layers"></i><span> Questions </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Urls/Index")"><i class="zmdi zmdi-view-list"></i> <span> Your Links </span> </a>
                </li>
                <li class="has-submenu">
                    <a href="@Url.Content("~/Account/Register")"><i class="zmdi zmdi-view-list"></i> <span> Đăng ký miễn phí </span> </a>
                </li>
            </ul>
            <!-- End navigation menu  -->
        </div>
    </div>
</div>