@using Web.Models
@model Web.Models.Answer


<div class="comment">
    <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
    <div class="comment-body">
        <div class="comment-text">
            <div class="comment-header">
                <a href="#" title="">@Model.CreatedBy</a>
                <span>
                    @Model.CreatedDate.Value.TimeAgo()
                </span>
                <span>@*@Model.Title*@</span>
            </div>
            @Html.Raw(Model.Content)
        </div>
        <div id="Status-@Model.Id.ToString()"></div>
        <div class="comment-footer">
            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
            @Ajax.ActionLink("AjaxReply ", "Create", "Answers", new { questionId = Model.Id },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "Status-" + Model.Id.ToString(),
                                        HttpMethod = "Get",
                                    }, null)
            @if (User.Identity.IsAuthenticated && User.Identity.Name == Model.CreatedBy)
            {
                @Ajax.ActionLink(" Delete ", "Delete", "Questions", new { Id = Model.Id },
                                    new AjaxOptions
                                    {
                                        UpdateTargetId = "Status-" + Model.Id.ToString(),
                                        HttpMethod = "Post",
                                    }, null)
            }
        </div>
    </div>
</div>
