@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.WorkIssue

<div>
    <h4>
        @if (Model.Title != null)
        {
            @Html.ActionLink(Model.Title, "Details", new { id = Model.Id }, null)
            <span class="label label-danger">@Model.Status</span>
            if (Model.End.HasValue)
            {
                <span class="label label-default">@Model.End.Value.ToShortDateString()</span>
            }
        }
        else
        {
            @Html.Raw(Model.Description.GetSentences().FirstOrDefault())
        }
        @if(Model.TimeToDo.HasValue)
        {
            @Html.Raw(Model.TimeToDo.Value.ToString() + " Min")
        }
    </h4>
    @*<div class="row">
        <div class="panel panel-danger">
            @Html.Raw(Model.GetMessage())
        </div>
    </div>*@
    <p>
        @Html.Raw(Model.Description)
    </p>
    <p>
        @Html.Raw(Model.Content)
    </p>
    <p>
        @if (Model.HasTags != null && Model.HasTags.Count > 0)
        {
            <h4>HasTags: </h4>
            foreach (var _hasTag in Model.HasTags)
            {
                @Html.Raw(_hasTag + "; ")
            }
        }

        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            <h4>Tags: </h4>
            foreach (var _tag in Model.Tags)
            {
                @Html.Raw(_tag + "; ")
            }
        }
    </p>
    
    <p>
        @Html.Partial("_IssueMenu")
    </p>
    
    <hr />
</div>
