@using Web.Models
@model Web.Models.WorkIssue

@if (User.Identity.IsAuthenticated)
{
    if (Model.Status == Web.Models.IssueStatus.Done)
    {
        @Html.Raw("Hoàn thành")
    }
    else if (Model.Status != Web.Models.IssueStatus.Finished)
    {
        @Ajax.ActionLink("Finished ", "MarkAsFinished", "WorkIssues", new { Id = Model.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Status-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
        @Ajax.ActionLink("Done ", "MarkAsDone", "WorkIssues", new { Id = Model.Id },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Status-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-danger" })
    }

    if (Model.IsTomorrow() && Model.Status != IssueStatus.Done)
    {
        @Ajax.ActionLink("Today ", "SetWorkOnTime", "WorkIssues", new { Id = Model.Id, date = DateTime.Now },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Update-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
    }
    if (Model.IsExpired())
    {
        @Ajax.ActionLink("Now in (10m) ", "SetWorkOnTime", "WorkIssues", new { Id = Model.Id, date = DateTime.Now.AddMinutes(10) },
                            new AjaxOptions
                            {
                                UpdateTargetId = "Update-" + Model.Id.ToString(),
                                HttpMethod = "Post",
                            }, new { @class = "btn btn-default" })
    }
}
<div id="Update-@Model.Id"></div>
<div id="Status-@Model.Id"></div>
