@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.WorkIssue

<h4>
    @if (Model.Title != null && Model.Title.ToWords().Count() > 0)
    {
        @Html.ActionLink(Model.Title.ToWords().Take(20).ToArray().WordsToString(), "Details", new { id = Model.Id }, null)
    }
    else
    {
        @Html.Raw(Model.Description.GetSentences().FirstOrDefault())
    }
</h4>
<span class="label label-danger">@Model.Status</span>
@if (Model.End.HasValue)
{
    <span class="label label-default">@Model.End.Value.ToShortDateString()</span>
    if (Model.TimeToDo.HasValue)
    {
        @Html.Raw(Model.TimeToDo.Value.ToString() + " Min")
    }
}
<p>
    @if (Model.HasTags != null && Model.HasTags.Count > 0)
    {
        <h4>HasTags: </h4>
        foreach (var _hasTag in Model.HasTags)
        {
            @Html.Raw(_hasTag + "; ")
        }
    }

    @if (Model.Tags != null && Model.Tags.Count > 0)
    {
        <h4>Tags: </h4>
        foreach (var _tag in Model.Tags)
        {
            @Html.Raw(_tag + "; ")
        }
    }
</p>
<hr />
@Html.Partial("_IssueMenu", Model)
