@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.WorkIssue

<div>
    @Html.Partial("_IssueTitleItem", Model)
    <p>
        @Html.Raw(Model.Description)
    </p>
    <p>
        @if (Model.HasTags != null && Model.HasTags.Count > 0)
        {
            <h4>HasTags: </h4>
            foreach (var _hasTag in Model.HasTags)
            {
                @Html.Raw(_hasTag + "; ")
            }
        }

        @if (Model.Tags != null && Model.Tags.Count > 0)
        {
            <h4>Tags: </h4>
            foreach (var _tag in Model.Tags)
            {
                @Html.Raw(_tag + "; ")
            }
        }
    </p>
    
    <p>
        @Html.Partial("_IssueMenu")
    </p>
</div>
