@using CafeT.Text
@using CafeT.Time
@using System.Globalization

@model Web.Models.WorkIssue

<div class="col-md-2">
    <span class="label label-danger">@Model.Status</span>
    @if (Model.End.HasValue)
    {
        <span class="label label-default">@Model.End.Value.ToShortDateString()</span>
        <br />
        <span class="label label-default">@Model.End.Value.TimeOfDay.ToString()</span>
        <br />
        if (Model.TimeToDo.HasValue)
        {
            @Html.Raw(Model.TimeToDo.Value.ToString() + " Min")
        }
    }
</div>
<div class="col-md-8">
    @if (Model.Title != null && Model.Title.ToWords().Count() > 0)
    {
        @Html.ActionLink(Model.Title.ToWords().Take(20).ToArray().WordsToString(), "Details", new { id = Model.Id }, null)
    }
    else
    {
        @Html.Raw(Model.Description.GetSentences().FirstOrDefault())
    }

    <p>
        @if (Model.IsExpired())
        {
            <span class="label label-default">@Html.Raw(Model.GetMessage())</span>
        }
    </p>
</div>
<div class="col-md-2">
    @Html.Partial("_IssueMenu", Model)
</div>

