<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">
    <link rel="shortcut icon" href="~/Assets/Templates/Adminto/images/favicon.ico">
    <title>@ViewBag.Title - WorkCard.vn</title>
    <link href="~/Assets/Templates/Adminto/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Templates/Adminto/css/responsive.css" rel="stylesheet" type="text/css" />

    <script src="~/Assets/Templates/Adminto/js/modernizr.min.js"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74137680-1', 'auto');
  ga('send', 'pageview');

    </script>

    <!--- My Script-->
    @*@Styles.Render("~/Content/css")*@
    @*@Styles.Render("~/Content/themes/base/css")*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")

    @*<script src="~/Scripts/jquery-1.8.2.min.js"></script>*@
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
        tex2jax: { inlineMath: [['$','$'],['\\(','\\)']] }
        });
    </script>
    <script type='text/javascript' src='http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>
</head>

<body>
    <!-- Navigation Bar-->
    <header id="topnav">
        @RenderPage("~/Views/Shared/Templates/_Top.cshtml")
        @RenderPage("~/Views/Shared/Templates/_Menu.cshtml")
    </header>
    <!-- End Navigation Bar-->

    <div class="wrapper">
        <div class="container">
            <!-- Page-Title -->
            @RenderPage("~/Views/Shared/Templates/_Setting.cshtml")

            @RenderBody()

            <!-- Footer -->
            @RenderPage("~/Views/Shared/Templates/_Footer.cshtml")
            <!-- End Footer -->
        </div>
        <!-- end container -->
        <!-- Right Sidebar -->
        @RenderPage("~/Views/Shared/Templates/_Sidebar.cshtml")
        <!-- /Right-bar -->
    </div>

    <!-- jQuery  -->
    <script src="~/Assets/Templates/Adminto/js/jquery.min.js"></script>
    <script src="~/Assets/Templates/Adminto/js/bootstrap.min.js"></script>
    <script src="~/Assets/Templates/Adminto/js/detect.js"></script>
    <script src="~/Assets/Templates/Adminto/js/fastclick.js"></script>
    <script src="~/Assets/Templates/Adminto/js/jquery.slimscroll.js"></script>
    <script src="~/Assets/Templates/Adminto/js/jquery.blockUI.js"></script>
    <script src="~/Assets/Templates/Adminto/js/waves.js"></script>
    <script src="~/Assets/Templates/Adminto/js/wow.min.js"></script>
    <script src="~/Assets/Templates/Adminto/js/jquery.nicescroll.js"></script>
    <script src="~/Assets/Templates/Adminto/js/jquery.scrollTo.min.js"></script>

    <!-- App js -->
    <script src="~/Assets/Templates/Adminto/js/jquery.core.js"></script>
    <script src="~/Assets/Templates/Adminto/js/jquery.app.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>