@using CafeT.Time
@model Web.Models.Question


<div class="comment">
    <img src="assets/images/users/avatar-1.jpg" alt="" class="comment-avatar">
    <div class="comment-body">
        <div class="comment-text">
            <div class="comment-header">
                <a href="#" title="">@Model.CreatedBy</a>
                <span>
                    @Model.CreatedDate.Value.TimeAgo()
                </span>
                <span>@Model.Title</span>
            </div>
            @Html.Raw(Model.Content)
        </div>
        <div class="comment-footer">
            <a href="#"><i class="fa fa-thumbs-o-up"></i></a>
            <a href="#"><i class="fa fa-thumbs-o-down"></i></a>
            <a href="#">Reply</a>
        </div>
    </div>
</div>
@*<div>
    
    <dl class="dl-horizontal">
    
        <dt>
            @Html.DisplayNameFor(model => model.ProjectId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProjectId)
        </dd>

    
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
